<script src="/static/bower_components/jQuery/dist/jquery.min.js"></script>
<script src="/static/bower_components/webcomponentsjs/webcomponents.min.js"></script>
<link rel="import" href="/static/bower_components/polymer/polymer.html">
<link rel="import" href="/static/bower_components/core-header-panel/core-header-panel.html">
<polymer-element name="dng-address" attributes="address data">
	<template>
		<style>
			div.infoPanel {
				margin-top: 0.5em;
			}

			div.infoPanelContainer {
				width: 300px;
				margin-right: 5px;
			}

			div.photoPanel {
				width: 80%;
			}

			div.adslFields {
				width: 140px;
			}

			a {
				color: blue;
			}

			a:hover {
				color: red;
			}
		</style>
		<div fullbleed vertical layout style="height: 600px">
			<core-header-panel flex>
				<div class="core-header" style="background: #7986cb">
					<a style="text-decoration: none; color: #ffffff" href="{{data.RealEstateComAuInfo.Link}}">{{address}}</a>
				</div>
				<div class="content" fit>
					<div horizontal justified layout style="width: 100%">
						<div vertical justified layout class="infoPanelContainer">
							<div style="display: table" class="infoPanel">
								<div style="display: table-row">
									<span style="display: table-cell; width: 110px">Price</span>
									<span style="display: table-cell">{{data.RealEstateComAuInfo.PriceText}}</span>
								</div>
								<div style="display: table-row">
									<span style="display: table-cell">Sale Type</span>
									<span style="display: table-cell">{{data.RealEstateComAuInfo.SaleType}}</span>
								</div>
								<div style="display: table-row">
									<span style="display: table-cell">Property Type</span>
									<span style="display: table-cell">{{data.RealEstateComAuInfo.PropertyType}}</span>
								</div>
								<div style="display: table-row">
									<span style="color: blue; cursor: pointer" on-click="{{trainDetails}}">Train Station</span>
									<span style="display: table-cell">{{data.NearbyAmenitiesInfo.TrainStations.destination_addresses[0]}}</span>
								</div>
								<div style="display: table-row">
									<span style="color: blue; cursor: pointer" on-click="{{busDetails}}">But Stop</span>
									<span style="display: table-cell">{{data.NearbyAmenitiesInfo.BusStops.destination_addresses[0]}}</span>
								</div>
								<div style="display: table-row">
									<span style="display: table-cell">Beds</span>
									<span style="display: table-cell">{{data.RealEstateComAuInfo.Bedrooms}}</span>
								</div>
								<div style="display: table-row">
									<span style="display: table-cell">Bathrooms</span>
									<span style="display: table-cell">{{data.RealEstateComAuInfo.Bathrooms}}</span>
								</div>
								<div style="display: table-row">
									<span style="display: table-cell">Car Spaces</span>
									<span style="display: table-cell">{{data.RealEstateComAuInfo.CarSpaces}}</span>
								</div>
								<div style="display: table-row">
									<span style="display: table-cell; color: blue; cursor: pointer" on-click="{{nearby}}">Nearby</span>
								</div>
								<div style="display: table-row">
									<span style="display: table-cell; color: blue; cursor: pointer" on-click="{{nbnDetails}}">NBN</span>
									<span style="display: table-cell">{{data.NBNInfo.servingArea.serviceStatus}}</span>
								</div>
								<div style="display: table-row">
									<span style="display: table-cell; color: blue; cursor: pointer" on-click="{{adslDetails}}">ADSL</a></span>
									<span style="display: table-cell">~{{data.ADSLInfo.EstimatedSpeed}}kbps</span>
								</div>
								<div style="display: table-row">
									<span style="display: table-cell; color: blue; cursor: pointer" on-click="{{photoDetails}}">Photos</span>
									<span style="display: table-cell">{{data.RealEstateComAuInfo.Photos.length}}</span>
								</div>
								<div style="display: table-row">
									<span style="display: table-cell; color: blue; cursor: pointer" on-click="{{floorPlanDetails}}">Floor Plans</span>
									<span style="display: table-cell">{{data.RealEstateComAuInfo.FloorPlans.length}}</span>
								</div>
								<div style="display: table-row">
									<span style="display: table-cell; color: blue; cursor: pointer" on-click="{{inspections}}">Inspections</span>
									<span style="display: table-cell">{{data.RealEstateComAuInfo.Inspections.length}}</span>
								</div>
								<div style="display: table-row">
									<span style="display: table-cell; color: blue; cursor: pointer" on-click="{{notes}}">Notes</span>
								</div>
							</div>
							<core-header-panel flex id="busDetails" style="margin-top: 0.5em; display: none">
								<div class="core-header" style="background: #FFFF99">
									Bus Details
									<span style="float: right; color: blue; cursor: pointer" on-click="{{clearDetails}}">Close</span>
								</div>
								<div horizontal layout fit style="margin-top: 0.5em">
									<div vertical layout style="width: 100%">
										<template repeat="{{address, index in data.NearbyAmenitiesInfo.BusStops.destination_addresses}}">
											<div horizontal layout>
												<span style="width: 50%; font-weight: bold">{{data.NearbyAmenitiesInfo.BusStops.rows[0].elements[index].distance.text}}</span>
												<span style="width: 50%; font-weight: bold">{{data.NearbyAmenitiesInfo.BusStops.rows[0].elements[index].duration.text}}</span>
											</div>
											<span>{{address}}</span>
											<hr style="width: 100%" />
										</template>
									</div>
								</div>
							</core-header-panel>
							<core-header-panel flex id="trainDetails" style="margin-top: 0.5em; display: none">
								<div class="core-header" style="background: #FFFF99">
									Train Details
									<span style="float: right; color: blue; cursor: pointer" on-click="{{clearDetails}}">Close</span>
								</div>
								<div horizontal layout fit style="margin-top: 0.5em">
									<div vertical layout class="trainFields" style="width: 100%">
										<template repeat="{{address, index in data.NearbyAmenitiesInfo.TrainStations.destination_addresses}}">
											<div horizontal layout>
												<span style="width: 50%; font-weight: bold">{{data.NearbyAmenitiesInfo.TrainStations.rows[0].elements[index].distance.text}}</span>
												<span style="width: 50%; font-weight: bold">{{data.NearbyAmenitiesInfo.TrainStations.rows[0].elements[index].duration.text}}</span>
											</div>
											<span>{{address}}</span>
											<hr style="width: 100%" />
										</template>
									</div>
								</div>
							</core-header-panel>
							<core-header-panel flex id="adslDetails" style="margin-top: 0.5em; display: none">
								<div class="core-header" style="background: #FFFF99">
									ADSL Details
									<span style="float: right; color: blue; cursor: pointer" on-click="{{clearDetails}}">Close</span>
								</div>
								<div horizontal layout fit style="margin-top: 0.5em">
									<div vertical layout class="adslFields">
										<span>Estimated Speed</span>
										<span>Exchange Distance</span>
										<span>Cable Length</span>
									</div>
									<div vertical layout class="values">
										<span>{{data.ADSLInfo.EstimatedSpeed}}kbps</span>
										<span>{{data.ADSLInfo.Distance}}m</span>
										<span>{{data.ADSLInfo.CableLength}}m</span>
									</div>
								</div>
							</core-header-panel>
							<core-header-panel flex id="nbnDetails" style="margin-top: 0.5em; display: none">
								<div class="core-header" style="background: #FFFF99">
									NBN Details
									<span style="float: right; color: blue; cursor: pointer" on-click="{{clearDetails}}">Close</span>
								</div>
								<div horizontal layout fit style="margin-top: 0.5em">
									<div vertical layout class="adslFields">
										<span>ID</span>
										<span>Service Status</span>
										<span>Description</span>
										<span>CSAID</span>
										<span>Service Category</span>
										<span>Service Type</span>
									</div>
									<div vertical layout class="values">
										<span>{{data.NBNInfo.servingArea.id}}</span>
										<span>{{data.NBNInfo.servingArea.serviceStatus}}</span>
										<span>{{data.NBNInfo.servingArea.description}}</span>
										<span>{{data.NBNInfo.servingArea.csaId}}</span>
										<span>{{data.NBNInfo.servingArea.serviceCategory}}</span>
										<span>{{data.NBNInfo.servingArea.serviceType}}</span>
									</div>
								</div>
							</core-header-panel>
							<core-header-panel flex id="photoDetails" style="margin-top: 0.5em; display: none">
								<div class="core-header" style="background: #FFFF99">
									Photos
									<span style="float: right; color: blue; cursor: pointer" on-click="{{clearDetails}}">Close</span>
								</div>
								<div horizontal layout style="margin-top: 5px">
									<div vertical layout class="photoFields">
										<template repeat="{{photo in data.RealEstateComAuInfo.Photos}}">
											<a href="data:image/jpg;base64,{{photo.Data}}" target="_blank"><img style="margin: 5px 0; width: 100%" src="data:image/jpg;base64,{{photo.Data}}" /></a>
										</template>
									</div>
								</div>
							</core-header-panel>
							<core-header-panel flex id="floorPlanDetails" style="margin-top: 0.5em; display: none">
								<div class="core-header" style="background: #FFFF99">
									Floor Plans
									<span style="float: right; color: blue; cursor: pointer" on-click="{{clearDetails}}">Close</span>
								</div>
								<div horizontal layout style="margin-top: 5px">
									<div vertical layout class="floorPlanFields">
										<template repeat="{{photo in data.RealEstateComAuInfo.FloorPlans}}">
											<a href="data:image/jpg;base64,{{photo.Data}}" target="_blank"><img style="margin: 5px 0; width: 100%" src="data:image/jpg;base64,{{photo.Data}}" /></a>
										</template>
									</div>
								</div>
							</core-header-panel>
							<core-header-panel flex id="notes" style="margin-top: 0.5em; display: none">
								<div class="core-header" style="background: #FFFF99">
									Notes
									<span style="float: right; color: blue; cursor: pointer; margin-left: 1em" on-click="{{clearDetails}}">Close</span>
									<span style="float: right; color: blue; cursor: pointer" on-click="{{saveNotes}}">Save</span>
								</div>
								<div horizontal layout style="margin-top: 0.5em">
									<div style="width: 100%">
										<textarea style="display: block; margin: 0 auto; width: 95%; height: 250px; font-size: 0.5em">{{data.Notes}}</textarea>
									</div>
								</div>
							</core-header-panel>
							<core-header-panel flex id="inspections" style="margin-top: 0.5em; display: none">
								<div class="core-header" style="background: #FFFF99">
									Inspections
									<span style="float: right; color: blue; cursor: pointer" on-click="{{clearDetails}}">Close</span>
								</div>
								<div vertical layout fit style="margin-top: 0.5em">
									<template repeat="{{inspection in data.RealEstateComAuInfo.Inspections}}">
										<div horizontal layout>
											<span style="width: 140px">{{inspection.Date}}</span>
											<span>{{inspection.Time}}</span>
										</div>
									</template>
								</div>
							</core-header-panel>
							<core-header-panel flex id="nearby" style="margin-top: 0.5em; display: none">
								<div class="core-header" style="background: #FFFF99">
									Nearby Amenities
									<span style="float: right; color: blue; cursor: pointer" on-click="{{clearDetails}}">Close</span>
								</div>
								<div vertical layout flex style="margin-top: 0.5em">
									<div vertical layout style+"width: 100%">
										<span style="font-weight: bold; font-size: 1.25em">Landmarks</span>
										<hr style="width: 100%" />
										<div vertical layout style="; margin-left: 30px; width: 100%">
											<template repeat="{{address, index in data.NearbyAmenitiesInfo.Landmarks.destination_addresses}}">
												<div horizontal layout>
														<span style="width: 50%; font-weight: bold">{{data.NearbyAmenitiesInfo.Landmarks.rows[0].elements[index].distance.text}}</span>
														<span style="width: 50%; font-weight: bold">{{data.NearbyAmenitiesInfo.Landmarks.rows[0].elements[index].duration.text}}</span>
													</div>
												<span>{{address}}</span>
												<hr style="width: 100%" />
											</template>
										</div>
									</div>
									<div vertical layout style+"width: 100%">
										<span style="font-weight: bold; font-size: 1.25em">Grocers</span>
										<hr style="width: 100%" />
										<div vertical layout style="; margin-left: 30px; width: 100%">
											<template repeat="{{address, index in data.NearbyAmenitiesInfo.Grocers.destination_addresses}}">
												<div horizontal layout>
														<span style="width: 50%; font-weight: bold">{{data.NearbyAmenitiesInfo.Grocers.rows[0].elements[index].distance.text}}</span>
														<span style="width: 50%; font-weight: bold">{{data.NearbyAmenitiesInfo.Grocers.rows[0].elements[index].duration.text}}</span>
													</div>
												<span>{{address}}</span>
												<hr style="width: 100%" />
											</template>
										</div>
									</div>
									<div vertical layout style+"width: 100%">
										<span style="font-weight: bold; font-size: 1.25em">Cafes</span>
										<hr style="width: 100%" />
										<div vertical layout style="; margin-left: 30px; width: 100%">
											<template repeat="{{address, index in data.NearbyAmenitiesInfo.Cafes.destination_addresses}}">
												<div horizontal layout>
														<span style="width: 50%; font-weight: bold">{{data.NearbyAmenitiesInfo.Cafes.rows[0].elements[index].distance.text}}</span>
														<span style="width: 50%; font-weight: bold">{{data.NearbyAmenitiesInfo.Cafes.rows[0].elements[index].duration.text}}</span>
													</div>
												<span>{{address}}</span>
												<hr style="width: 100%" />
											</template>
										</div>
									</div>
									<div vertical layout style+"width: 100%">
										<span style="font-weight: bold; font-size: 1.25em">Gyms</span>
										<hr style="width: 100%" />
										<div vertical layout style="; margin-left: 30px; width: 100%">
											<template repeat="{{address, index in data.NearbyAmenitiesInfo.Gyms.destination_addresses}}">
												<div horizontal layout>
														<span style="width: 50%; font-weight: bold">{{data.NearbyAmenitiesInfo.Gyms.rows[0].elements[index].distance.text}}</span>
														<span style="width: 50%; font-weight: bold">{{data.NearbyAmenitiesInfo.Gyms.rows[0].elements[index].duration.text}}</span>
													</div>
												<span>{{address}}</span>
												<hr style="width: 100%" />
											</template>
										</div>
									</div>
									<div vertical layout style+"width: 100%">
										<span style="font-weight: bold; font-size: 1.25em">Schools</span>
										<hr style="width: 100%" />
										<div vertical layout style="; margin-left: 30px; width: 100%">
											<template repeat="{{address, index in data.NearbyAmenitiesInfo.Schools.destination_addresses}}">
												<div horizontal layout>
														<span style="width: 50%; font-weight: bold">{{data.NearbyAmenitiesInfo.Schools.rows[0].elements[index].distance.text}}</span>
														<span style="width: 50%; font-weight: bold">{{data.NearbyAmenitiesInfo.Schools.rows[0].elements[index].duration.text}}</span>
													</div>
												<span>{{address}}</span>
												<hr style="width: 100%" />
											</template>
										</div>
									</div>
									<div vertical layout style+"width: 100%">
										<span style="font-weight: bold; font-size: 1.25em">Department Stores</span>
										<hr style="width: 100%" />
										<div vertical layout style="; margin-left: 30px; width: 100%">
											<template repeat="{{address, index in data.NearbyAmenitiesInfo.DepartmentStores.destination_addresses}}">
												<div horizontal layout>
														<span style="width: 50%; font-weight: bold">{{data.NearbyAmenitiesInfo.DepartmentStores.rows[0].elements[index].distance.text}}</span>
														<span style="width: 50%; font-weight: bold">{{data.NearbyAmenitiesInfo.DepartmentStores.rows[0].elements[index].duration.text}}</span>
													</div>
												<span>{{address}}</span>
												<hr style="width: 100%" />
											</template>
										</div>
									</div>
									<div vertical layout style+"width: 100%">
										<span style="font-weight: bold; font-size: 1.25em">Shopping Malls</span>
										<hr style="width: 100%" />
										<div vertical layout style="; margin-left: 30px; width: 100%">
											<template repeat="{{address, index in data.NearbyAmenitiesInfo.Malls.destination_addresses}}">
												<div horizontal layout>
														<span style="width: 50%; font-weight: bold">{{data.NearbyAmenitiesInfo.Malls.rows[0].elements[index].distance.text}}</span>
														<span style="width: 50%; font-weight: bold">{{data.NearbyAmenitiesInfo.Malls.rows[0].elements[index].duration.text}}</span>
													</div>
												<span>{{address}}</span>
												<hr style="width: 100%" />
											</template>
										</div>
									</div>
									<div vertical layout style+"width: 100%">
										<span style="font-weight: bold; font-size: 1.25em">Bars</span>
										<hr style="width: 100%" />
										<div vertical layout style="; margin-left: 30px; width: 100%">
											<template repeat="{{address, index in data.NearbyAmenitiesInfo.Bars.destination_addresses}}">
												<div horizontal layout>
														<span style="width: 50%; font-weight: bold">{{data.NearbyAmenitiesInfo.Bars.rows[0].elements[index].distance.text}}</span>
														<span style="width: 50%; font-weight: bold">{{data.NearbyAmenitiesInfo.Bars.rows[0].elements[index].duration.text}}</span>
													</div>
												<span>{{address}}</span>
												<hr style="width: 100%" />
											</template>
										</div>
									</div>
								</div>
							</core-header-panel>
						</div>
						<div class="photoPanel" style="height: 100%">
							<iframe frameBorder="0" style="height: 100%; width: 100%" src="{{data.MapsEmbed}}"></iframe>
						</div>
					</div>
				</div>
			</core-header-panel>
		</div>
	</template>
	<script>
		Polymer("dng-address", {
			ready: function () {

			},
			busDetails: function (event, detail, sender) {
				this.clearDetails();

				$(this.$.busDetails).css('display', 'block');
			},
			trainDetails: function (event, detail, sender) {
				this.clearDetails();

				$(this.$.trainDetails).css('display', 'block');
			},
			nbnDetails: function (event, detail, sender) {
				this.clearDetails();

				$(this.$.nbnDetails).css('display', 'block');
			},
			adslDetails: function (event, detail, sender) {
				this.clearDetails();

				$(this.$.adslDetails).css('display', 'block');
			},
			photoDetails: function (event, detail, sender) {
				this.clearDetails();

				$(this.$.photoDetails).css('display', 'block');
			},
			floorPlanDetails: function (event, detail, sender) {
				this.clearDetails();

				$(this.$.floorPlanDetails).css('display', 'block');
			},
			notes: function (event, detail, sender) {
				this.clearDetails();

				$(this.$.notes).css('display', 'block');
			},
			saveNotes: function (event, detail, sender) {
				var val = $(this.$.notes).find('textarea').val();

				$.ajax({
					url: "/savenotes",
					method: "post",
					data: {'address': this.address, 'notes': val},
				});
			},
			inspections: function (event, detail, sender) {
				this.clearDetails();

				$(this.$.inspections).css('display', 'block');
			},
			nearby: function (event, detail, sender) {
				this.clearDetails();

				$(this.$.nearby).css('display', 'block');
			},
			clearDetails: function() {
				$(this.$.busDetails).css('display', 'none');
				$(this.$.trainDetails).css('display', 'none');
				$(this.$.nbnDetails).css('display', 'none');
				$(this.$.adslDetails).css('display', 'none');
				$(this.$.photoDetails).css('display', 'none');
				$(this.$.floorPlanDetails).css('display', 'none');
				$(this.$.notes).css('display', 'none');
				$(this.$.inspections).css('display', 'none');
				$(this.$.nearby).css('display', 'none');
			}
		});
	</script>
</polymer-element>
